@import "../../variables";

.modal-content {
  text-align: center !important;
  .title-success {
    margin-bottom: 1rem;
  }
  //   .okay-btn {
  //     background-color: transparent;
  //     border-radius: 0px;
  //     border: 1px solid white;
  //     margin-bottom: 1rem;
  //   }
  .okay-btn {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  @include send-btn;
}
