@import "../../variables";

.banner {
  margin-top: 0;
  padding: 25vh 0 10vh 0;
  height: 100vh;
  height: -webkit-fill-available;
  @include max-extrasmall {
    padding-top: 15vh;
    padding-bottom: 5vh;
  }
  .tagline {
    @include repeatedProperty3;
    padding: 8px 10px;
    background: $gradient;
    border: $border-grey;
    font-size: $font-size-20;
    margin-bottom: 1rem;
    display: inline-block;
  }
  h1 {
    font-size: 65px;
    @include repeatedProperty3;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    // @include max-extralarge {
    //   font-size: 45px;
    // }
    @include max-extrasmall {
      font-size: $mobile-title !important;
    }
    @include screen-1400 {
      font-size: 50px;
    }
  }
  p {
    @include parrafo;
    width: 96%;
    max-width: 576px;
    @include screen-1400 {
      font-size: 1rem;
    }
    @include max-extrasmall {
      @include mobile-text;
    }
  }
  .toConnect {
    color: #fff;
    font-weight: 700;
    font-size: $font-size-20;
    margin-top: 60px;
    margin-bottom: 0px;
    letter-spacing: $letter-spacing-08;
    display: flex;
    align-items: center;
    @include max-extrasmall {
      margin-top: 4vh;
      margin-bottom: 2vh;
      display: flex;
      justify-content: center;
    }
    svg {
      font-size: 25px;
      margin-left: 10px;
      @include transition;
      line-height: 1;
    }
  }
  a:hover {
    svg {
      margin-left: 25px;
    }
  }
  .ship {
    animation: updown 3s linear infinite;
  }
  @keyframes updown {
    0% {
      transform: translateY(-20px);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(-20px);
    }
  }
  .ship-container {
    display: flex;
    align-items: flex-start;
    @include max-extrasmall {
      justify-content: center !important;
      .ship {
        width: 80vw;
      }
    }
  }
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

.arrow-down {
  text-align: center;
  padding-top: 10%;
  img {
    width: 2rem;
    @include transition;
  }
  img:hover {
    margin-top: 6px;
  }
  @include max-1100-H {
    display: none !important;
  }
}
